# Бот
BOT_TOKEN=

# Бот поддержки
SUPPORT_BOT_TOKEN=
SUPPORT_GROUP_ID=

# БД
DB_HOST=localhost
DB_PORT=5432
DB_NAME=vpn_bot
DB_USER=vpn_bot_user
DB_PASSWORD=

# Подписка
SUB_HOST=localhost:8000
SUB_PROTOCOL=http

# Касса
PLATEGA_MERCHANT_ID=
PLATEGA_API_KEY=